.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

.bottom-20 {
  bottom: 20% !important;
}

.admin-banner {
  height: 300px !important;
}

.admin-profile-image {
  height: 220px;
  width: 220px !important;
  margin-top: -100px;
  margin-left: 50px;
}

a {
  text-decoration: none !important;
}

.admin-left-navbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: #f8f9fa;
  z-index: 100;
}

@media (max-width: 576px) {
  .admin-left-navbar {
    position: fixed;
    padding-top: 71px;
    top: 0;
    left: 0;
    bottom: 0;
    width: 56px;
    background-color: #f8f9fa;
    z-index: 100;
    overflow: hidden !important;
  }

  .nabar-appbar {
    margin-left: 54px !important;
  }

  .navbar-appbar {
    margin-left: 70px !important;
  }
}
@media (max-width: 992px) {
  .admin-left-navbar {
    position: fixed;
    padding-top: 71px;
    top: 0;
    left: 0;
    bottom: 0;
    width: 56px;
    background-color: #f8f9fa;
    z-index: 100;
    overflow: hidden !important;
  }

  .nabar-appbar {
    margin-left: 54px !important;
    width: 93% !important;
  }

  .navbar-appbar {
    margin-left: 100px !important;
    width: 80% !important;
  }
}